*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';

}

/* navbar starts here */
nav
{
    position: fixed;
    height: 60px;
}

nav div a
{
    color: #ffbf00 !important;
}

.addTask
{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addTask i
{
    color: #ffbf00;
    margin-right: 10px;
    font-size: 20px;
}

.addTask h4
{
    color: #ffbf00;
    margin: 0;
    font-size: 20px;
}

/* taskTab starts here */
.taskTab
{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
}

.taskTab div
{
    display: flex;
    margin: 5px 0;
}

.taskTab h4
{
    color: #ffbf00;
}

.taskTab .btn
{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.taskTab .btn button
{
    background-color: black !important;
    color: #ffbf00 !important;
    padding: 0 5px !important;
    border: 1px solid #ffbf00 !important;
}

#main {
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: dimgray;
    padding: 10px;
    flex-wrap: wrap;
    overflow: scroll;
}

#div-header {
    margin-top: 30px;
}

#header {
    text-align: center;
}

#taskContainer {
    display: flex;
    flex-wrap: wrap;
}

#taskInput {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    border: none;
    color: black;
    padding: 0 10px;
}


.h5task {
    text-align: center;
    margin: 20px;
}

.listTask {
    margin-top: 10px;
}

.listTask > input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: beige;
    text-transform: uppercase;
    padding: 5px;
}

.taskList {
    width: 300px;
    background-color: black;
    color: white;
    border: 3px solid #ffbf00;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.action > button {
    height: 50px;
    width: 60px;
    font-weight: 800;
    border-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.edit {
    background-color: #ffbf00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.edit:hover {
    opacity: 0.8;
}

.edit:active {
    opacity: 0.5;
}

.delete {
    background-color: #ffbf00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.delete:hover {
    opacity: 0.8;
}

.delete:active {
    opacity: 0.5;
}

.doneBtn {
    background-color: #ffbf00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.doneBtn:hover {
    opacity: 0.8;
}

.doneBtn:active {
    opacity: 0.5;
}

.done {
    text-decoration: line-through;
    color: gray;
  }